fastapi
uvicorn[standard]
python-dotenv
pypdf
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
chromadb
sentence-transformers
requests
pydantic[email]
passlib
bcrypt==4.3.0
PyJWT
python-multipart
email-validator
